<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AprsConfig" type="APRS.AprsConfig,APRS" />
    <section name="AprsTrackerConfig" type="AprsTracker.AprsTrackerConfig,AprsTracker" />
  </configSections>

  <AprsConfig uri="noam.aprs2.net" port="14580" callsign="0" password="-1" filter="s/'/`"></AprsConfig>
  
  <AprsTrackerConfig>
    <startLocation latitude="42.717034" longitude="-71.125317" altitude="2000.0"></startLocation>
  </AprsTrackerConfig>
  
</configuration>